body {
    font-family: "Lato";
    margin: 0;
    padding: 0;
  }

  #myKanban {
    overflow-x: auto;
    padding: 20px 0;
  }

  .success {
    background: #00b961;
  }

  .info {
    background: #2a92bf;
  }

  .warning {
    background: #f4ce46;
  }

  .error {
    background: #fb7d44;
  }

  .custom-button {
    background-color: #4CAF50;
    border: none;
    color: white; 
    margin-left:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }      


  
.popup{
  width: 600px;
  background: #ffb82b;
  position: absolute;
  display: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  padding: 0 30px 30px;
  color: #fbac0e;
  margin: auto;
  border:solid 8px #2b2b2b; 
  border-radius: 20px;
  
}

.open-popup{
  visibility: visible;
}

.popupbg{
  background-color: rgba(0,0,0,0.5);
  top:0;
  left:0;
  z-index: 100;
  height: 100%;
  width: 100%;
  position: fixed;
  visibility: hidden;
}