{% extends 'base.html' %}

{% load static %}

{% block content %}

<button id="addColonne"><i style="font-size:30px;vertical-align: -5px;margin-right:5px"class="bi bi-plus-square-fill"></i>     COLONNE</button>

<button id="addTache"><i style="font-size:30px;vertical-align: -5px;margin-right:5px"class="bi bi-plus-square-fill"></i>     TÂCHE</button>

<div id="myKanban"></div>
  
    <div class="popupbg" id='popupbg'>
  
        <div class="popup" id='popup' >
            <button type="button" style="position:absolute;top:5px;right:5px; font-size:25px" class="btn-close" onclick="closePopup()" aria-label="Close"></button>
            <h2 id="titre_form" style='color:black;margin:10px'></h2>
            <form id="formC" >  
                <input style="text-align:center;font-size:40px"id="formColonne"class="form-control form-control-lg" type="text" placeholder="">
                <input disabled class="btn btn-dark" style="font-size:24px;margin-top: 4%" type="button" value="Valider" id='submit' >
            </form>
          
        </div>
    </div>
    <script src="{%static "JS/main.js" %}"></script>
{% endblock %}