{% extends 'base.html' %}

{% load static %}

{% block content %}

<h1>test</h1>

<div id="myKanban"></div>
    <br>
    <button id="addColonne">Ajouter une colonne</button>
    <br>
    <button id="addTache">Ajouter une tâche</button>


    <div class="popupbg" id='popupbg'>
  
        <div class="popup" id='popup' >
            <button type="button" style="position:absolute;top:5px;right:5px; font-size:25px" class="btn-close" onclick="closePopup()" aria-label="Close"></button>
            <h2 id="titre_form" style='color:black;margin:10px'></h2>
            <form id="formC" >  
                <input style="text-align:center;font-size:40px"id="formColonne"class="form-control form-control-lg" type="text" placeholder="">
                <input disabled class="btn btn-dark" style="font-size:24px;margin-top: 4%" type="button" value="Valider" id='submit' >
            </form>
          
        </div>
    </div>
    <script src="{%static "JS/main.js" %}"></script>
{% endblock %}